<div class = "booyah-box better-title">
   <h1>This team had one beautiful man behind it all. This man is Brandon Gorman</h1>
   <br class="clr"/>
   <div class="col-xs-6 col-xs-offset-4">
      <%= link_to 'https://dl.dropboxusercontent.com/u/71905757/index.html' do %>
         <%= image_tag 'brandon_insta.jpg', class: 'img-responsive' %>
      <% end %>
   </div>
   <br class="clr"/>

</div>

